*{
    padding: 0;
    margin: 0;
}
.albumHead{
    height: 260px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1f/Logo_fr_Dr_House.png");
    background-size: 100%;
    background-position: center 100%;
    margin-bottom: 60px;
}
.headText{
    position: absolute;
    top: 270px;
    left: 190px;
    color: darkred;
    font-family: Georgia, serif;
    font-size: 30px;
    /* padding: 240px 0px 0px 190px; */
}
.albumContainer{
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    width: 1180px;
    justify-content: space-between;
}

.buttonContainer{
    margin: 80px 0 0 25px;
}
.buttonUsersContainer{
    margin-bottom: 10px;
}
.button{
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.buttonUsers{
    color: white;
    background-color: darkred;
    padding: 15px 30.5px;
    border: none;
}
.buttonBack{
    padding: 15px 24px;
    color: darkred;
    border: 1px solid darkred;
}
