.postContainer{
    position: relative;
    width: 350px;
    border-radius: 7px;
    padding: 10px;
    background-color: rgb(222, 234, 240);
    margin-bottom: 15px;
    cursor: pointer;
}
.title{
    text-align: center;
    color: rgb(9, 71, 105);
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.text{
    text-align: center; 
}
.modal{
    position: absolute;
}