*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.header{
    height: 320px;
    background-size: 100%;
    margin-bottom: 50px;
}
.headerLightImg{
    background-image: url("https://mf-static-ssl.more.tv/images/Project/32776/OW1aHYGiS1Cg6TLY2Zs3LhXriUyZQ9yV0rvsfLXE.jpg");
}
.headerDarkImg{
    background-image: url("https://cdn.wallpapersafari.com/83/91/NIlsLz.jpg");
    background-position: center 30%;
}
.headerText{
    position: absolute;
    color: rgb(56, 129, 169);
    font-size: 80px;
    /* padding: 220px 0px 0px 950px; */
    top: 220px;
    right: 50px;
}
.buttonContainer{
    margin: 150px 0 0 50px;
}
.buttonUsersContainer{
    margin-bottom: 10px;
}
.button{
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.buttonUsers{
    color: white;
    background-color: rgb(56, 129, 169);
    padding: 15px 30.5px;
    border: none;
}
.buttonBack{
    padding: 15px 24px;
    color: rgb(56, 129, 169);
    border: 1px solid rgb(56, 129, 169);
}

.bigContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 50px 30px 50px;
}